<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<sec:http auto-config="true" access-denied-page="/pages/acesso-invalido.jsf">
		<sec:intercept-url pattern="/pages/externo/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/pages/**" access="ROLE_CANDIDATO" />
		<sec:intercept-url pattern="/loadImagemBD/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

		<!-- Set the login page and what to do if login fails -->
		<sec:form-login login-page="/login.jsf" default-target-url="/pages/inscricaoCurso.jsf"
			always-use-default-target="true" authentication-failure-url="/login.jsf" />
		<sec:logout invalidate-session="true" logout-success-url="/login.jsf" />
	</sec:http>

	<sec:authentication-manager alias="loginManager">
		<sec:authentication-provider>
			<sec:password-encoder hash="md5" />
			<sec:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select EMAIL_INSTITUCIONAL as USERNAME, SENHA as PASSWORD, 
				FLG_ATIVO as ENABLED from SISFIE.CANDIDATO where EMAIL_INSTITUCIONAL=?"
				authorities-by-username-query="select distinct 
				EMAIL_INSTITUCIONAL as USERNAME, 'ROLE_CANDIDATO' as NOM_ROLE from SISFIE.CANDIDATO where EMAIL_INSTITUCIONAL=?" />
		</sec:authentication-provider>
	</sec:authentication-manager>

	<!-- <sec:authentication-manager alias="loginManager"> <sec:authentication-provider> <sec:user-service> <sec:user name="sisfie" 
		password="sisfie" authorities="ROLE_USER" /> </sec:user-service> </sec:authentication-provider> </sec:authentication-manager> -->

</beans>
